<?xml version="1.0"?>
<robot name="udes_realsense_camera_adapter" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="udes_realsense_camera_adapter" params="prefix">
    <!-- TODO measure or calculate -->
    <link name="${prefix}robotside">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.2" />
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://oscar_description/meshes/udes/realsense_camera_adapter/visual/realsense_camera_adapter_1k.dae"/>
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://oscar_description/meshes/udes/realsense_camera_adapter/collision/realsense_camera_adapter_bbox.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}toolside" />

    <joint name="${prefix}toolside_joint" type="fixed">
      <!-- Original CAD -->
      <origin xyz="0.045 0 0.016" rpy="0 0 0" />
      <parent link="${prefix}robotside" />
      <child link="${prefix}toolside" />
    </joint>

  </xacro:macro>
</robot>
