<?xml version="1.0"?>
<robot name="mimic_ur3_mounting_plate" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mimic_ur3_mounting_plate" params="prefix">
    <link name="${prefix}plate_base">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <!-- Not measured -->
        <mass value="0.5" />
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimic_description/meshes/mimic/visual/ur3_mounting_plate.dae"/>
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimic_description/meshes/mimic/collision/ur3_mounting_plate.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}plate" />

    <!-- Mean of multiple points of the surface -->
    <joint name="${prefix}plate_joint" type="fixed">
      <origin xyz="0 0 0.01309" rpy="0 0 0" />
      <parent link="${prefix}plate_base" />
      <child link="${prefix}plate" />
    </joint>

  </xacro:macro>
</robot>
