<?xml version="1.0"?>
<robot name="mimik_pipette_p200" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mimik_pipette_p200" params="prefix">
    <!-- TODO measure or calculate -->
    <link name="${prefix}base">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.5" />
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimik_description/meshes/mimik/pipette_p200/visual/9k.dae"/>
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimik_description/meshes/mimik/pipette_p200/collision/p36.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}tip" />

    <joint name="${prefix}tip_joint" type="fixed">
      <!-- Original CAD -->
      <origin xyz="0.253442 0 0" rpy="0 0 0" />
      <parent link="${prefix}base" />
      <child link="${prefix}tip" />
    </joint>

  </xacro:macro>
</robot>
