<?xml version="1.0"?>
<robot name="mimik_ur3_capture_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mimik_ur3_capture_tool" params="prefix">
    <!-- TODO measure or calculate -->
    <link name="${prefix}robotside">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.5" />
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimik_description/meshes/mimik/ur3_capture_tool/visual/1k.dae"/>
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimik_description/meshes/mimik/ur3_capture_tool/collision/1k.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}tcp" />

    <joint name="${prefix}tcp_joint" type="fixed">
      <origin xyz="0.0745 0 0" rpy="0 0 0" />
      <parent link="${prefix}robotside" />
      <child link="${prefix}tcp" />
    </joint>

  </xacro:macro>
</robot>
