<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find mimic_description)/urdf/ur3_dual_eef_wc_mobile.xacro'"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mimic_description)/config/view_ur3_dual_eef_wc_mobile.rviz" required="true" />
</launch>
