<?xml version="1.0"?>
<robot name="thermal_cycler_t100_open" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="thermal_cycler_t100_open" params="prefix">
    <link name="${prefix}base">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="19.86735" />
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimic_description/meshes/biorad/thermal_cycler_t100/visual/full_open_226k.dae"/>
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mimic_description/meshes/biorad/thermal_cycler_t100/collision/full_open_226k.stl"/>
        </geometry>
      </collision>
    </link>


  </xacro:macro>
</robot>
